<table class="ui table">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Code</th>
      <th>Temp</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
    </tr>
  </thead>
  <tbody>
    {{#each station.readings}}
      <tr>
        <td>
          {{date_time}}
        </td>
        <td>
          {{code}}
        </td>
        <td>
          {{temp}}
        </td>
        <td>
          {{wind_speed}}
        </td>
        <td>
          {{wind_direction}}
        </td>
        <td>
          {{pressure}}
        </td>
        <td>
          <a href="/reading/{{../station.id}}/editreading/{{id}}" class="ui icon button">
            <i class="pencil alternate icon"></i>
          </a>
        </td>
        <td>
          <a href="/station/{{../station.id}}/deletereading/{{id}}" class="ui icon button">
            <i class="icon trash"></i>
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
